body {
    background: url(https://ap-pro.ru/uploads/pages_media/1_1593796765_8-p-fon-stalker-10.jpg?_cb=1597054984) #191c21 !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

.nav-custom {
	background-color: #1f2324;
    min-height: 60px;
}

.nav-two {
	background-color: #2b2f30;
}

input[type="search"] { 
    background: #212529;
}

.important {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.news-app {
	background-color: #212529;
	color: #fff;
}

.news-div {
	margin-bottom: 10px;
	margin-top: 10px;
}

main {
	display: block;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    padding: 0 10px;
}

.text-date {
	color: #8a8a8a;
}